
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins',sans-serif;
    cursor: pointer;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://wallpapercave.com/wp/wp2939993.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
form{
    width: 25rem;
    height: 28rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(255,255,255,0.06);
    box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
    border-radius: 50px;
    border-left: 1px solid rgba(255,255,255,0.3);
    border-left: 1px solid rgba(255,255,255,0.3);
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    background-color:rgb(56, 196, 196);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }